
.k-logo{
	padding-top: 30px;
	padding-bottom: 180px;
	background: url('/res/img/185903tzhchyvycc0dvajl.png.thumb.jpg')

}

.k-circle{
	border-radius: 50%;
	border-color: #fff;
}
p > img{

}

.k-card-title{
	font-size: 40px;
	line-height: 70px;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.7rem;
}

h4{
	font-size: 1.3rem;
}

.parallax-container {
   height: 300px;
 }

#k-footer{
	font-weight: 500;
	background-color: #f5f5f5;
	text-align: center;
}

.slide-out-btn{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 999;
}

.slide-out-btn i{
	font-size: 40px;
}
