---
layout: blog
index: true
---

{% for post in paginator.posts %}

<div class="card hoverable">

  <div class="card-content">
    <div class="k-card-title"><a href="{{ post.url }}">{{post.title}}</a></div>
    <p>
      {{ post.date | date: "%Y" }}年{{ post.date | date: "%m" }}月{{ post.date | date: "%d" }}日
      <a class="post-category" href="/page/category.html#{{ post.categories }}">{{ post.categories }}</a>
    </p>
  {{ post.content | split:'<!-- more -->' | first }}
  </div>
  <div class="card-action"><a href="{{ post.url }}">阅读全文</a></div>
  
</div>

{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</a>
  {% else %}
  <a class="pagination-item newer" href="/page/{{paginator.previous_page}}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</span>
  {% endif %}  
  {% if paginator.next_page %}
  <a class="pagination-item older" href="/page/{{paginator.next_page}}">下一页&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
  {% else %}
  <span class="pagination-item older">下一页&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span>
  {% endif %}
</div>
